// /* #0b0c10 black
// #1f2833 smokey grey
// #c5c6c7 light grey
// #66fcf1 teal
// #45a29e dark teal */

$black: #0b0c10;
$smokeyGrey: #1f2833;
$lightGrey: #c5c6c7;
$teal: #66fcf1;
$darkTeal: #45a29e;
